<nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">ember-skeleton</a>
		<!-- <a class="brand" {{action goToFun href=true}}>Fun</a> -->
		<!-- <a class="brand" {{action goToRides href=true}}>Rides</a> -->
		<a class="brand" href="#/club/3957">My Club</a>
		
    </div>

</nav>
<div id="main" role="main" class="container">
  {{outlet body}}
</div>
